{% extends 'blog/base.html' %}
{% block content %} 
<div class="container pt-3 pb-3">
    <h4 class="h4 text-center pb-1">Здравствуйте, уважаемые посетители официального сайта муниципального образования<br>
    «Нижнегнутовское сельское поселение»!</h3>
    <p class="fs4">
    Рады приветствовать вас и надеемся, что наше возможное общение будет взаимно интересным и полезным. На нашем сайте вы 
    можете ознакомиться с информацией о социально-экономической жизни, деятельности органов местного самоуправления поселения, 
    нормативно-правовыми актами, информацией о мероприятиях в области образования, здравоохранения, культуры, строительства и 
    жилищно-коммунального хозяйства, сельского хозяйства, молодежной политики, физической культуры и спорта, экологии и 
    соблюдения санитарного порядка. Будем очень благодарны за ваши мнения, отзывы, комментарии, предложения. Надеемся на 
    тесное, плодотворное и долгосрочное сотрудничество.
    </p>
    <h4 class="h4 text-center pt-1">С уважением, глава Нижнегнутовского сельского поселения, Василий Михайлович Гасинец.</h3>
    <div class="container-fluid mt-5 d-flex justify-content-between flex-row">
        <button type="button" class="btn bg-color text-center m-3" data-bs-toggle="modal" data-bs-target="#sendMessageModal">
            Написать сообщение
        </button>
        <button type="button" class="btn bg-color text-center m-3" data-bs-toggle="modal" data-bs-target="#receptionModal">
            Интернет-Приемная
        </button>
    </div> 
    
    <!-- Написать сообщение -->
    <div class="modal fade" id="sendMessageModal" tabindex="-1" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="sendMessageModalLabel">Написать сообщение</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-right: 0;"></button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <p class="h5">Опишите ситуацию</p>
                            <label for="question" class="form-label">Если у Вас несколько вопросов, напишите отдельное сообщение по каждому</label>
                            {{ message_form.content }}
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Отправить</button>       
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
    </div>       

    <!-- Интернет-Приемная -->
    <div class="modal fade" id="receptionModal" tabindex="-1" aria-labelledby="receptionModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 600px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="sendMessageModalLabel">Интернет-Приемная</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-right: 0;"></button>
                </div>
                <div class="modal-body">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Как Вас зовут:</label>
                            {{ reception_form.name }}
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            {{ reception_form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Номер телефона</label>
                            {{ reception_form.phone_number }}
                        </div>
                        <div class="mb-3">
                            <label for="question" class="form-label">Задайте вопрос</label>
                            {{ reception_form.question }}
                        </div>
                        <div class="mb-3">
                            <label for="captcha" class="form-label">Код с картинки</label>
                            <div class="input-group">
                                {{ reception_form.captcha }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Отправить</button>       
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}